[user]
	name = Adam Bazzi
	email = 8884041+Abazzi@users.noreply.github.com
[core]
	editor = vim
[init]
	defaultBranch = main
[alias]
	; logo = log --pretty=tformat:'%m %C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D' --date=short
	logo = log --pretty=tformat:'%C(auto,red)%m %C(auto,yellow)%h%C(auto,magenta) %G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red) %gD %D' --date=short
	adog = log --all --decorate --oneline --graph
	dog = log --decorate --oneline --graph
  amend = commit --amend
  cm = commit -m 
  co = checkout 
  cb = checkout -b
  lb = branch -a
  db = branch -d
  lb = branch -a
  bd = branch -D
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	; trustExitCode = true
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes
[commit]
	; gpgsign = true
[diff]
	submodule = log
[submodule]
	recurse = true
[pull]
	rebase = true
